@charset "UTF-8";
@keyframes roll {
  0% {
    z-index: 0;
    opacity: 0;
    background-position: 40% 0%; }
  5% {
    z-index: 1;
    opacity: 0;
    background-position: 40% 0%; }
  10% {
    z-index: 1;
    opacity: 1;
    background-position: 40% 0%; }
  50% {
    z-index: 1;
    opacity: 1;
    background-position: 20% 0%; }
  55% {
    z-index: 1;
    opacity: 0;
    background-position: 20% 0%; }
  60% {
    z-index: 0;
    opacity: 0;
    background-position: 20% 0%; }
  100% {
    z-index: 0;
    opacity: 0;
    background-position: 20% 0%; } }
@keyframes fly {
  0% {
    transform: translate(0, 0rem); }
  25% {
    transform: translate(0, -0.1rem); }
  50% {
    transform: translate(0, 0rem); }
  75% {
    transform: translate(0, 0.1rem); }
  100% {
    transform: translate(0, 0rem); } }
@keyframes timeBlink {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes moveHand {
  0% {
    transform: rotate(0deg); }
  5% {
    transform: rotate(18deg); }
  10% {
    transform: rotate(36deg); }
  15% {
    transform: rotate(54deg); }
  20% {
    transform: rotate(72deg); }
  25% {
    transform: rotate(90deg); }
  30% {
    transform: rotate(108deg); }
  35% {
    transform: rotate(126deg); }
  40% {
    transform: rotate(144deg); }
  45% {
    transform: rotate(162deg); }
  50% {
    transform: rotate(180deg); }
  55% {
    transform: rotate(198deg); }
  60% {
    transform: rotate(216deg); }
  65% {
    transform: rotate(234deg); }
  70% {
    transform: rotate(252deg); }
  75% {
    transform: rotate(270deg); }
  80% {
    transform: rotate(288deg); }
  85% {
    transform: rotate(306deg); }
  90% {
    transform: rotate(324deg); }
  95% {
    transform: rotate(342deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes hideAndSeek {
  0% {
    transform: translate(0, 10px); }
  50% {
    transform: translate(0, 0); }
  100% {
    transform: translate(0, 10px); } }
@keyframes shake {
  0% {
    transform: translate(0, 0); }
  50% {
    transform: translate(2px, 0); }
  100% {
    transform: translate(0, 0); } }
html {
  margin: 0 auto;
  min-width: 360px;
  max-width: 1080px;
  height: 100%; }
  html.loading {
    overflow: hidden; }

body {
  margin: 0 auto;
  min-width: 360px;
  max-width: 1080px;
  height: 100%;
  font-family: 'Noto Sans KR', 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: -1px;
  color: #464953;
  font-weight: 400; }
  body.loading {
    overflow: hidden; }

label {
  margin-bottom: 0; }

.btn, .form-control {
  -webkit-appearance: none;
  box-shadow: none !important; }

.modal-backdrop.show {
  opacity: .75; }

.mont {
  font-family: 'Montserrat', sans-serif; }

#container {
  position: relative;
  overflow: auto;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1080px; }

#loading {
  z-index: 9990;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  text-align: center; }
  #loading p {
    margin: 0; }
    #loading p img {
      width: 44.6666666667px; }

@keyframes intro {
  0% {
    background-position: 0 0;
    opacity: 1; }
  66% {
    opacity: 1; }
  100% {
    background-position: 100% 100%;
    opacity: 0;
    transform: translate(-100%, 0); } }
noscript {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  noscript p {
    margin: 0; }

body.scrolled #toolbar {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1); }

.checkbox-block {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .checkbox-block .icon {
    width: 24.6666666667px;
    height: 24.6666666667px;
    background-image: url(../images/ico_check.png);
    background-size: auto 100%;
    background-position: 0 50%; }
  .checkbox-block input[type="checkbox"] {
    position: absolute;
    clip: rect(0, 0, 0, 0); }
    .checkbox-block input[type="checkbox"]:checked + .icon {
      background-position: -24.6666666667px 50%; }

body.join {
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch; }
  body.join #header {
    position: -webkit-sticky;
    position: sticky;
    top: -56px;
    display: flex;
    width: 100%;
    height: 56px;
    justify-content: center;
    align-items: center;
    background-image: url(../images/bg_header.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-color: #fff;
    border-bottom: 1px solid #f7f7f7; }
    body.join #header h1 {
      margin-bottom: 0; }
      body.join #header h1 img {
        display: block;
        width: 44.6666666667px;
        height: 45.6666666667px; }
  body.join #toolbar {
    z-index: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
    border-bottom: 1px solid #ebebeb;
    background-color: #fff; }
    body.join #toolbar .home {
      display: inline-block;
      margin-left: -10px;
      padding: 10px; }
      body.join #toolbar .home img {
        display: block;
        width: 15.6666666667px; }
    body.join #toolbar h2 {
      margin-bottom: 0;
      font-size: 14px;
      text-align: center; }
  body.join #content {
    padding-top: 24px;
    padding-bottom: 21.3333333333px; }
    body.join #content h4 {
      margin-bottom: 18px;
      font-size: 16px;
      font-weight: 900;
      letter-spacing: -1px; }
    body.join #content .form-area h5 {
      font-size: 12px;
      color: #7e828e; }
    body.join #content .form-area .form-group {
      margin-bottom: 1.4rem; }
    body.join #content .form-area .mobile label {
      margin-bottom: 13px;
      color: #7e828e; }
    body.join #content .form-area .mobile .form-control {
      padding: 0 18px;
      height: 38px;
      border: 1px solid #e1e1e1;
      font-size: 13px;
      border-radius: 19px;
      background: #f6f6f6;
      line-height: 34px; }
      body.join #content .form-area .mobile .form-control:focus {
        border-color: #464953;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1) !important; }
      body.join #content .form-area .mobile .form-control:valid {
        background: #fff; }
    body.join #content .form-area .mobile ::placeholder {
      color: #a3a5ad; }
    body.join #content .form-area .mobile ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #a3a5ad; }
    body.join #content .form-area .mobile ::-moz-placeholder {
      /* Firefox 19+ */
      color: #a3a5ad; }
    body.join #content .form-area .mobile :-ms-input-placeholder {
      /* IE 10+ */
      color: #a3a5ad; }
    body.join #content .form-area .mobile :-moz-placeholder {
      /* Firefox 18- */
      color: #a3a5ad; }
    body.join #content .form-area .terms label {
      font-size: 13px; }
    body.join #content .form-area .terms .card {
      overflow: hidden;
      border-color: #e1e1e1; }
    body.join #content .form-area .terms .card + .card {
      margin-top: -1px; }
    body.join #content .form-area .terms .card:first-child {
      border-top-left-radius: 7px;
      border-top-right-radius: 7px; }
    body.join #content .form-area .terms .card:last-child {
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px; }
    body.join #content .form-area .terms .card-header {
      padding: 0;
      border-bottom: 0; }
      body.join #content .form-area .terms .card-header .checkbox-block {
        padding-left: 18px;
        padding-right: 12px;
        height: 40px; }
      body.join #content .form-area .terms .card-header .collapsed {
        background: #fff; }
    body.join #content .form-area .terms .card-body {
      overflow: auto;
      padding: 14px 18px;
      border-top: 1px solid #e1e1e1;
      max-height: 130px; }
      body.join #content .form-area .terms .card-body ol, body.join #content .form-area .terms .card-body ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 11px;
        line-height: 17px;
        color: #7e828e; }
    body.join #content .form-area .agree .checkbox-block {
      padding-right: 13px;
      font-weight: bold; }
      body.join #content .form-area .agree .checkbox-block .icon {
        background-size: auto 100%;
        background-position: -49.3333333334px 50%; }
      body.join #content .form-area .agree .checkbox-block input[type="checkbox"] {
        clip: rect(0, 0, 0, 0); }
        body.join #content .form-area .agree .checkbox-block input[type="checkbox"]:checked + .icon {
          background-position: -74.0000000001px 50%; }
    body.join #content .btn-area {
      padding: 20px 15px;
      background-color: #fff; }
      body.join #content .btn-area .btn {
        height: 54.6666666667px;
        border-radius: 27.3333333333px;
        font-size: 13.3333333333px;
        background: #2e3446;
        color: #fff; }

.modal-alert .modal-dialog {
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
.modal-alert .modal-content {
  overflow: hidden;
  border: 0;
  border-radius: 7px;
  background: transparent; }
.modal-alert .modal-body {
  padding: 0; }
.modal-alert .modal-footer {
  overflow: hidden;
  padding: 0;
  border: 0; }
  .modal-alert .modal-footer .btn {
    border-radius: 0;
    height: 43.3333333333px;
    font-size: 13px;
    border: 0; }

#apply.modal-alert .modal-content {
  width: 272px; }
#apply.modal-alert .modal-body .request {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 198px; }
  #apply.modal-alert .modal-body .request img {
    width: 40px;
    height: 40px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.16);
    border-radius: 12px; }
  #apply.modal-alert .modal-body .request p {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px; }
    #apply.modal-alert .modal-body .request p strong {
      padding-left: 10px;
      font-size: 26.6666666667px; }
  #apply.modal-alert .modal-body .request .btn {
    width: 130px;
    height: 38px;
    border-radius: 19px;
    font-size: 13px; }
  #apply.modal-alert .modal-body .request .mont {
    font-weight: bold; }
#apply.modal-alert .modal-body .kakao {
  background: #f9e000; }
  #apply.modal-alert .modal-body .kakao .btn {
    background: #2e3446;
    color: #d4d4d4; }
#apply.modal-alert .modal-body .mms {
  background: #2e3446; }
  #apply.modal-alert .modal-body .mms p {
    color: #fff; }
  #apply.modal-alert .modal-body .mms .btn {
    background: #f9e000; }
#apply.modal-alert .modal-footer {
  padding: 0; }
  #apply.modal-alert .modal-footer .btn {
    background: #fff; }

#message.modal-alert .modal-content {
  width: 272px; }
#message.modal-alert .modal-body .text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 130px;
  background: #fff; }
  #message.modal-alert .modal-body .text p {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center; }
    #message.modal-alert .modal-body .text p + p {
      margin-top: 10px; }
#message.modal-alert .modal-footer .btn {
  background: #2e3446;
  color: #fff; }

body.home.nav-opened #nav {
  opacity: 1; }
  body.home.nav-opened #nav .gnb li {
    opacity: 1;
    transform: translate(0, 0); }
  body.home.nav-opened #nav .gnb li:nth-of-type(1) {
    transition-delay: .5s; }
  body.home.nav-opened #nav .gnb li:nth-of-type(2) {
    transition-delay: .65s; }
  body.home.nav-opened #nav .sns li {
    opacity: 1;
    transform: translate(0, 0); }
  body.home.nav-opened #nav .sns li:nth-of-type(1) {
    transition-delay: .8s; }
  body.home.nav-opened #nav .sns li:nth-of-type(2) {
    transition-delay: .95s; }
body.home #container {
  z-index: 10;
  position: absolute;
  transition: clip .5s;
  will-change: clip; }
body.home #header {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }
  body.home #header .logo {
    position: absolute;
    top: 20px;
    left: 23px;
    margin-bottom: 0;
    transform: translate(0, 0);
    transition: transform .3s .5s; }
    body.home #header .logo img {
      display: block;
      width: 44.6666666667px;
      height: 45.6666666667px; }
  body.home #header .btn-nav {
    position: absolute;
    top: 30.3333333333px;
    right: 18px;
    width: 43px;
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 10px;
    border: 0;
    border-radius: 0;
    transform: translate(0, 0);
    transition: transform .3s .5s; }
    body.home #header .btn-nav .line {
      display: flex;
      justify-content: center; }
      body.home #header .btn-nav .line span {
        height: 2px;
        border-radius: 1px;
        background: #2a2a2a; }
    body.home #header .btn-nav .bar {
      display: block;
      width: 100%;
      height: 2px; }
    body.home #header .btn-nav .dot {
      margin-left: 1px;
      width: 2px;
      height: 2px; }
body.home.loading #header .logo {
  transform: translate(0, -100px); }
body.home.loading #header .btn-nav {
  transform: translate(0, -100px); }
body.home #nav {
  opacity: 0;
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  max-width: 1080px;
  margin: 0 auto; }
  body.home #nav .logo {
    position: absolute;
    top: 20px;
    left: 23px;
    margin-bottom: 0; }
    body.home #nav .logo img {
      display: block;
      width: 44.6666666667px;
      height: 45.6666666667px; }
  body.home #nav .btn-close {
    position: absolute;
    top: 29px;
    right: 21px;
    padding: 10px;
    border: 0;
    width: 36.3333333333px;
    height: 36.3333333333px; }
    body.home #nav .btn-close img {
      display: block;
      width: 100%;
      height: 100%; }
  body.home #nav ul {
    margin-bottom: 0;
    padding-right: 30px;
    list-style: none;
    text-align: right; }
    body.home #nav ul a {
      color: #2b2d30;
      font-weight: bold; }
  body.home #nav .gnb {
    margin-bottom: 10px; }
    body.home #nav .gnb a {
      font-size: 26.6666666667px;
      line-height: 43px;
      text-decoration: none; }
    body.home #nav .gnb li {
      opacity: 0;
      transform: translate(0, -10px);
      transition: all .3s; }
  body.home #nav .sns a {
    padding-left: 15px;
    font-size: 16.6666666667px;
    line-height: 32px;
    letter-spacing: 0;
    text-decoration: none;
    background-image: url(../images/ico_dot.png);
    background-repeat: no-repeat;
    background-size: 4px 4px;
    background-position: 0 50%; }
  body.home #nav .sns li {
    opacity: 0;
    transform: translate(0, -10px);
    transition: all .3s; }
body.home #content {
  width: 100%;
  height: 100%; }
body.home .swiper-container {
  width: 100%;
  height: 100%; }
body.home .swiper-slide {
  overflow: hidden; }
body.home .swiper-pagination {
  position: absolute;
  top: 92px;
  right: 24px;
  left: auto;
  bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
  width: 50px;
  height: 18px;
  line-height: 18px;
  background: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.3);
  font-size: 9px;
  border-radius: 9px; }
  body.home .swiper-pagination span {
    font-size: 13px; }
  body.home .swiper-pagination .swiper-pagination-current {
    color: #fff; }
body.home .content {
  position: relative;
  z-index: 1;
  padding: 140px 23px 0; }
  body.home .content .keywords {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 22px; }
    body.home .content .keywords p {
      position: absolute;
      margin-bottom: 0;
      font-size: 14px;
      line-height: 22px;
      transform: translate(0, -10px);
      opacity: 0; }
      body.home .content .keywords p:after {
        content: " ";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 0;
        background: #2b2d30; }
  body.home .content .phrase {
    position: absolute;
    top: 172px;
    right: 23px;
    height: 45px;
    font-size: 30px;
    font-weight: bold;
    transform: translate(0, -10px);
    opacity: 0; }
  body.home .content .more {
    position: absolute;
    top: 237px;
    right: 23px;
    font-size: 13px;
    line-height: 22px;
    color: #2b2d30;
    font-weight: bold;
    transform: translate(0, -10px);
    opacity: 0;
    text-decoration: none;
    display: flex;
    align-items: center; }
    body.home .content .more img {
      margin-left: 5px;
      width: 5px;
      height: 8px;
      transform: translate(0, 0);
      animation: shake .5s infinite; }
  body.home .content .fab {
    position: absolute;
    top: 345px;
    right: 23px;
    width: 86.6666666667px;
    height: 86.6666666667px;
    border-radius: 50%;
    box-shadow: 5px 5px 17.28px 0.72px rgba(0, 0, 0, 0.16);
    animation: fly 1s infinite linear; }
    body.home .content .fab img {
      display: block;
      width: 100%;
      height: 100%; }
body.home .slide-1 .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  body.home .slide-1 .bg .bg-item {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    background-position: 40% 0%; }
  body.home .slide-1 .bg .bg-item-2 {
    background-image: url(../images/bg_slide1_1.jpg);
    animation: roll 20s infinite; }
  body.home .slide-1 .bg .bg-item-1 {
    background-image: url(../images/bg_slide1_3.jpg);
    animation: roll 20s infinite;
    animation-delay: 10s; }
body.home .slide-1 .content .keywords p {
  right: 0; }
body.home .slide-1.swiper-slide-active .content .keywords p {
  transform: translate(0, 0);
  opacity: 1;
  transition: all .3s .85s; }
  body.home .slide-1.swiper-slide-active .content .keywords p:after {
    width: 100%;
    transition: all .75s 1.45s; }
body.home .slide-1.swiper-slide-active .content .phrase {
  transform: translate(0, 0);
  opacity: 1;
  transition: all .3s 1s; }
body.home .slide-1.swiper-slide-active .content .more {
  transform: translate(0, 0);
  opacity: 1;
  transition: all .3s 1.15s; }
body.home .slide-2 {
  background-image: url(../images/bg_home_slide_2.jpg);
  background-size: cover; }
  body.home .slide-2 .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    body.home .slide-2 .bg .bg-item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: 100% 100%; }
    body.home .slide-2 .bg .bg-item-cloud {
      width: 200%;
      height: 100%;
      background-size: 100% auto;
      background-position: 50% 25%;
      background-image: url(../images/cloud.png);
      background-repeat: no-repeat;
      transform: translate(0, 0);
      opacity: .5; }
    body.home .slide-2 .bg .bg-item-sign {
      background-image: url(../images/img_slide2_sign.png);
      transform: translate(10%, 0);
      opacity: 0;
      transition: all .5s .5s; }
    body.home .slide-2 .bg .bg-item-store {
      background-image: url(../images/img_slide2_store.png);
      transform: translate(-10%, 0);
      opacity: 0;
      transition: all .5s .25s; }
    body.home .slide-2 .bg .bg-item-stone {
      background-image: url(../images/img_slide2_stone.png);
      transform: translate(0, 10%);
      opacity: 0;
      transition: all .5s; }
  body.home .slide-2 .content .keywords p:nth-of-type(1) {
    right: 80px; }
  body.home .slide-2 .content .keywords p:nth-of-type(2) {
    right: 0; }
  body.home .slide-2.swiper-slide-active .bg .bg-item-cloud {
    transform: translate(-50%, 0);
    transition: all 30s; }
  body.home .slide-2.swiper-slide-active .bg .bg-item-sign {
    opacity: 1;
    transform: translate(0, 0); }
  body.home .slide-2.swiper-slide-active .bg .bg-item-store {
    opacity: 1;
    transform: translate(0, 0); }
  body.home .slide-2.swiper-slide-active .bg .bg-item-stone {
    opacity: 1;
    transform: translate(0, 0); }
  body.home .slide-2.swiper-slide-active .content .keywords p:nth-of-type(1) {
    transition: all .3s .85s;
    transform: translate(0, 0);
    opacity: 1; }
    body.home .slide-2.swiper-slide-active .content .keywords p:nth-of-type(1):after {
      width: 100%;
      transition: all .75s 1.6s; }
  body.home .slide-2.swiper-slide-active .content .keywords p:nth-of-type(2) {
    transition: all .3s 1s;
    transform: translate(0, 0);
    opacity: 1; }
    body.home .slide-2.swiper-slide-active .content .keywords p:nth-of-type(2):after {
      width: 100%;
      transition: all .75s 2.5s; }
  body.home .slide-2.swiper-slide-active .content .phrase {
    transition: all .3s 1.15s;
    transform: translate(0, 0);
    opacity: 1; }
  body.home .slide-2.swiper-slide-active .content .more {
    transition: all .3s 1.3s;
    transform: translate(0, 0);
    opacity: 1; }

#coupon.modal {
  overflow: hidden;
  margin: 0 auto;
  max-width: 1080px;
  min-width: 360px; }
  #coupon.modal.show .modal-dialog {
    transform: translate(0, 0); }
  #coupon.modal.open-info .btn-close {
    display: none; }
  #coupon.modal.open-info .modal-dialog {
    height: 100%; }
  #coupon.modal.open-info .product {
    display: none; }
  #coupon.modal.open-info .more img {
    transform: rotate(180deg); }
  #coupon.modal.open-info .details {
    display: block; }
  #coupon.modal .modal-dialog {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 1080px;
    margin: 0;
    transform: translate(0, 150%);
    max-width: none;
    background: #fff;
    transition: all .3s; }
    #coupon.modal .modal-dialog .modal-content {
      border-radius: 0;
      border: 0;
      box-shadow: none;
      height: 100%; }
      #coupon.modal .modal-dialog .modal-content .modal-body {
        padding: 80px 0 0;
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column; }
  #coupon.modal .btn-close {
    position: absolute;
    top: 29px;
    right: 21px;
    padding: 10px;
    border: 0;
    width: 36.3333333333px;
    height: 36.3333333333px; }
    #coupon.modal .btn-close img {
      display: block;
      width: 16.3333333333px;
      height: 16.3333333333px; }
  #coupon.modal .product {
    padding-top: 80px;
    padding-left: 38px;
    padding-right: 38px; }
    #coupon.modal .product .thumb {
      position: absolute;
      top: -90px;
      left: 25px;
      width: 85.3333333333px;
      height: 149.666666667px;
      transition: opacity .3s; }
    #coupon.modal .product h1 {
      margin-bottom: 10px;
      font-size: 23px;
      color: "#464953";
      font-weight: bold; }
    #coupon.modal .product p {
      margin-bottom: 15px;
      color: #a3a5ad;
      line-height: 18px; }
    #coupon.modal .product .price p {
      margin-bottom: 0; }
      #coupon.modal .product .price p + p {
        margin-top: 5px; }
    #coupon.modal .product .price .normal {
      position: relative;
      width: 77px;
      font-size: 17px;
      font-weight: normal; }
      #coupon.modal .product .price .normal:after {
        content: " ";
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        width: 100%;
        height: 2px;
        border-radius: 1px;
        background: #3b4155; }
    #coupon.modal .product .price .discount {
      padding-left: 23px;
      color: #f91f41;
      font-size: 22px;
      font-weight: bold;
      background-image: url(../images/ico_won.png);
      background-repeat: no-repeat;
      background-size: 18px auto;
      background-position: 0 50%; }
    #coupon.modal .product .deadline {
      position: absolute;
      top: -51px;
      right: 29px;
      width: 103px;
      height: 103px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url(../images/img_badge.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-repeat: 50% 50%;
      transition: opacity .3s; }
      #coupon.modal .product .deadline p {
        margin-top: 10px;
        margin-bottom: 0;
        text-align: center;
        font-size: 14px;
        color: #fff; }
  #coupon.modal .more {
    height: 46px; }
    #coupon.modal .more a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%; }
    #coupon.modal .more img {
      width: 23.6666666667px;
      height: 13.3333333333px;
      transition: transform .3s; }
  #coupon.modal .barcode {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background: #f8f8f8;
    border-top: 1px dashed #d2d2d2; }
    #coupon.modal .barcode p {
      margin-bottom: 0; }
      #coupon.modal .barcode p + p {
        margin-top: 10px; }
    #coupon.modal .barcode .number {
      font-size: 13px;
      color: #444;
      letter-spacing: 1px; }
    #coupon.modal .barcode .image img {
      display: block;
      margin: 0 auto;
      height: 90px; }
    #coupon.modal .barcode .help {
      font-size: 11px;
      line-height: 18px;
      color: #a3a5ad; }
    #coupon.modal .barcode .state {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-left: 40px;
      padding-right: 40px;
      background: rgba(0, 0, 0, 0.8);
      display: flex;
      justify-content: space-between;
      align-items: center; }
      #coupon.modal .barcode .state span {
        width: 25%;
        height: 1px;
        background: #f91f41; }
      #coupon.modal .barcode .state p {
        color: #fff;
        text-align: center; }
  #coupon.modal .details {
    overflow: auto;
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 13px;
    line-height: 23px;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch; }
    #coupon.modal .details > div {
      padding-top: 15px;
      padding-bottom: 15px; }
      #coupon.modal .details > div + div {
        border-top: 1px solid #ddd; }
    #coupon.modal .details h4 {
      margin-bottom: 5px;
      font-size: 14px;
      font-weight: bold; }
    #coupon.modal .details h5 {
      margin-bottom: 5px;
      font-size: 12px;
      font-weight: bold; }
    #coupon.modal .details p {
      margin-bottom: 0; }
    #coupon.modal .details dl {
      display: flex;
      margin-bottom: 0; }
      #coupon.modal .details dl dt {
        margin-right: 3px;
        font-weight: normal; }
        #coupon.modal .details dl dt:after {
          content: " : "; }
      #coupon.modal .details dl dd {
        margin-bottom: 0; }
      #coupon.modal .details dl .spacer {
        flex: 1; }
      #coupon.modal .details dl a {
        font-weight: bold;
        text-decoration: none;
        color: #464953;
        padding-right: 13px;
        background-image: url(../images/ico_arrow_right.png);
        background-position: 100% 50%;
        background-size: 5px 8px;
        background-repeat: no-repeat; }
      #coupon.modal .details dl strong {
        color: #c80e29;
        font-weight: bold; }

#story.modal {
  overflow: hidden;
  margin: 0 auto;
  max-width: 1080px;
  min-width: 360px; }
  #story.modal.show .modal-dialog {
    transform: translate(0, 0);
    transition: transform .3s; }
  #story.modal .modal-dialog {
    margin: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    transform: translate(-100%, 0); }
  #story.modal .modal-content {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: 0; }
  #story.modal .modal-header {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 0 19px;
    width: 100%;
    height: 86px;
    border-bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0;
    transition: all .3s; }
    #story.modal .modal-header .btn-close {
      padding: 10px;
      border: 0;
      width: 44px; }
      #story.modal .modal-header .btn-close img {
        display: block;
        width: 100%; }
  #story.modal.scrolled .modal-header {
    height: 45px;
    border-bottom: 1px solid #f3f3f3; }
  #story.modal .modal-body {
    position: relative;
    overflow: auto;
    padding: 86px 0 0;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch; }
    #story.modal .modal-body header {
      z-index: 1;
      position: sticky;
      top: 56px;
      padding: 80px 30px 14px 30px; }
      #story.modal .modal-body header h1 {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        font-size: 30px;
        line-height: 43px;
        margin-bottom: 35px; }
        #story.modal .modal-body header h1 p {
          display: flex;
          margin-bottom: 0;
          align-items: center; }
          #story.modal .modal-body header h1 p small {
            margin-left: 15px;
            font-size: 13px;
            font-weight: bold; }
          #story.modal .modal-body header h1 p:first-child small {
            color: #b7b7b7; }
      #story.modal .modal-body header blockquote {
        margin-bottom: 30px;
        font-family: 'Nanum Myeongjo', serif;
        font-style: italic;
        text-align: right;
        font-size: 14px; }
        #story.modal .modal-body header blockquote p {
          margin-bottom: 0; }
          #story.modal .modal-body header blockquote p span {
            border-bottom: 1px solid #2a2b31; }
      #story.modal .modal-body header .tags {
        display: flex;
        justify-content: flex-end; }
        #story.modal .modal-body header .tags p {
          margin-bottom: 0;
          padding-left: 8px;
          padding-right: 8px;
          height: 20px;
          border: 1px solid #f91f41;
          color: #f91f41;
          border-radius: 2px; }
          #story.modal .modal-body header .tags p + p {
            margin-left: 7px; }
    #story.modal .modal-body figure {
      position: relative;
      z-index: 2;
      margin-bottom: 0;
      background: #fff; }
      #story.modal .modal-body figure.dog {
        padding: 100px 120px;
        text-align: center;
        font-size: 13px; }
        #story.modal .modal-body figure.dog figcaption {
          margin-top: 5px; }
    #story.modal .modal-body section {
      position: relative;
      z-index: 2;
      padding: 40px 35px;
      background: #fff; }
      #story.modal .modal-body section h2 {
        font-size: 20px;
        line-height: 33px;
        font-weight: bold; }
      #story.modal .modal-body section p {
        margin-top: 35px;
        margin-bottom: 0;
        font-size: 15px;
        line-height: 25px; }
        #story.modal .modal-body section p + h2 {
          margin-top: 35px; }
        #story.modal .modal-body section p:first-child {
          margin-top: 0; }
        #story.modal .modal-body section p strong {
          font-size: 20px;
          line-height: 27px; }
        #story.modal .modal-body section p .strike {
          position: relative; }
          #story.modal .modal-body section p .strike:after {
            content: " ";
            position: absolute;
            top: calc(50% - 2px);
            left: 0;
            width: 100%;
            height: 5px;
            border-radius: 2px;
            background: #ffff00;
            opacity: .5; }
          #story.modal .modal-body section p .strike.narrow:after {
            top: 50%;
            height: 1px;
            background: #ffff00;
            border-radius: 0;
            opacity: 1; }

body.promotion .swiper-container {
  width: 100%;
  height: 100%; }
body.promotion .swiper-slide {
  position: relative;
  text-align: center; }
body.promotion .slide-content {
  position: relative;
  width: 100%;
  height: 100%; }
body.promotion .ongoing-event {
  padding-bottom: 53px; }
  body.promotion .ongoing-event .slide-body {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: url(../images/bg_promotion_milk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%; }
    body.promotion .ongoing-event .slide-body p {
      margin-bottom: 0; }
    body.promotion .ongoing-event .slide-body .quantity {
      padding-top: 40px;
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: bold; }
    body.promotion .ongoing-event .slide-body .clock {
      position: relative;
      display: block;
      margin: 0 auto 15px;
      width: 33px;
      height: 33px;
      background-image: url(../images/ico_clock.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover; }
      body.promotion .ongoing-event .slide-body .clock .hand {
        position: absolute;
        top: 6px;
        left: 50%;
        display: block;
        margin-left: -1px;
        width: 2px;
        height: 10px;
        background: #464953;
        animation: moveHand 20s infinite;
        transform-origin: 1px 100%; }
    body.promotion .ongoing-event .slide-body .advice small {
      font-size: 12px; }
    body.promotion .ongoing-event .slide-body .advice p {
      font-size: 20px;
      font-weight: bold; }
    body.promotion .ongoing-event .slide-body .now {
      position: relative;
      display: flex;
      justify-content: center; }
      body.promotion .ongoing-event .slide-body .now .noon {
        position: absolute;
        top: 20px;
        left: 50%;
        display: flex;
        flex-direction: column;
        width: 40px;
        margin-left: -160px; }
        body.promotion .ongoing-event .slide-body .now .noon .text {
          line-height: 20px; }
        body.promotion .ongoing-event .slide-body .now .noon .flag {
          width: 40px;
          height: 22px;
          font-size: 11px;
          border: 1px solid #464953;
          line-height: 20px;
          border-radius: 11px;
          font-weight: bold; }
      body.promotion .ongoing-event .slide-body .now .time {
        display: flex;
        font-size: 73.33px;
        font-weight: 600;
        line-height: 100px;
        font-family: 'Montserrat', monospace, sans-serif; }
        body.promotion .ongoing-event .slide-body .now .time .divider {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 15px;
          padding-right: 15px; }
          body.promotion .ongoing-event .slide-body .now .time .divider .dot {
            margin-top: 3px;
            margin-bottom: 3px;
            width: 9px;
            height: 9px;
            background: #464953;
            border-radius: 50%;
            animation: timeBlink 1s infinite; }
    body.promotion .ongoing-event .slide-body .tea {
      z-index: 1;
      position: relative;
      margin: 70px auto 0;
      width: 79px; }
      body.promotion .ongoing-event .slide-body .tea img {
        display: block;
        width: 100%; }
    body.promotion .ongoing-event .slide-body .badge {
      z-index: 0;
      position: absolute;
      left: 50%;
      width: 91px;
      margin-top: 5px;
      margin-left: 10px; }
      body.promotion .ongoing-event .slide-body .badge img {
        display: block;
        width: 100%; }
    body.promotion .ongoing-event .slide-body .slate {
      z-index: 1;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60px; }
      body.promotion .ongoing-event .slide-body .slate.open {
        height: 100%; }
        body.promotion .ongoing-event .slide-body .slate.open .btn-slate {
          display: flex; }
          body.promotion .ongoing-event .slide-body .slate.open .btn-slate img {
            transform: rotate(180deg); }
        body.promotion .ongoing-event .slide-body .slate.open .slate-wrapper {
          height: 505px;
          animation: unset; }
        body.promotion .ongoing-event .slide-body .slate.open .slate-content {
          overflow: auto; }
      body.promotion .ongoing-event .slide-body .slate .btn-slate {
        position: absolute;
        top: -13px;
        right: 25px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 1px solid #d7d7d7;
        padding: 0;
        display: none;
        justify-content: center;
        align-items: center;
        background: #fff; }
        body.promotion .ongoing-event .slide-body .slate .btn-slate img {
          display: block;
          height: 8px; }
      body.promotion .ongoing-event .slide-body .slate .slate-wrapper {
        position: absolute;
        bottom: 0;
        left: 5%;
        width: 90%;
        height: 50px;
        transition: height .3s;
        animation: hideAndSeek 1s infinite linear;
        transform: translate(0, 10px); }
      body.promotion .ongoing-event .slide-body .slate .slate-content {
        overflow: hidden;
        height: 100%;
        background: #f5f5f5;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        text-align: left;
        box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.08); }
        body.promotion .ongoing-event .slide-body .slate .slate-content .define {
          padding: 20px 15px;
          background: #fff; }
          body.promotion .ongoing-event .slide-body .slate .slate-content .define dl {
            overflow: hidden;
            margin: 0;
            padding: 0;
            line-height: 18px; }
            body.promotion .ongoing-event .slide-body .slate .slate-content .define dl dt {
              float: left;
              padding-top: 5px;
              padding-bottom: 5px;
              width: 60px; }
            body.promotion .ongoing-event .slide-body .slate .slate-content .define dl dd {
              padding-top: 5px;
              padding-bottom: 5px;
              margin-left: 60px;
              margin-bottom: 0;
              padding-left: 15px;
              border-left: 1px solid #ddd; }
              body.promotion .ongoing-event .slide-body .slate .slate-content .define dl dd a {
                display: inline-block;
                margin-left: 10px;
                padding-left: 14px;
                padding-right: 18px;
                height: 20px;
                line-height: 18px;
                border: 1px solid #cfcfcf;
                border-radius: 10px;
                color: #464953;
                background-image: url(../images/ico_arrow_right.png);
                background-size: auto 7px;
                background-repeat: no-repeat;
                background-position: 60px 50%;
                text-decoration: none; }
            body.promotion .ongoing-event .slide-body .slate .slate-content .define dl:first-child dt, body.promotion .ongoing-event .slide-body .slate .slate-content .define dl:first-child dd {
              padding-top: 0; }
            body.promotion .ongoing-event .slide-body .slate .slate-content .define dl:last-child dt, body.promotion .ongoing-event .slide-body .slate .slate-content .define dl:last-child dd {
              padding-bottom: 0; }
        body.promotion .ongoing-event .slide-body .slate .slate-content .notice {
          padding: 25px 15px;
          background: #f5f5f5; }
          body.promotion .ongoing-event .slide-body .slate .slate-content .notice ul {
            list-style: none;
            padding: 0;
            margin: 0; }
            body.promotion .ongoing-event .slide-body .slate .slate-content .notice ul li {
              position: relative;
              padding-left: 17px;
              line-height: 18px; }
              body.promotion .ongoing-event .slide-body .slate .slate-content .notice ul li + li {
                margin-top: 5px; }
              body.promotion .ongoing-event .slide-body .slate .slate-content .notice ul li:before {
                content: "ㆍ";
                position: absolute;
                left: 0; }
              body.promotion .ongoing-event .slide-body .slate .slate-content .notice ul li span {
                border-bottom: 1px solid #535353; }
  body.promotion .ongoing-event .slide-foot {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 53px; }
    body.promotion .ongoing-event .slide-foot a {
      display: block;
      width: 100%;
      height: 100%;
      background: #464953;
      color: #fff;
      font-size: 14px;
      line-height: 53px;
      text-decoration: none; }
body.promotion .closed-event .slide-body {
  position: relative;
  overflow: hidden;
  padding-top: 30px;
  padding-left: 35px;
  padding-right: 35px;
  width: 100%;
  height: 100%;
  background-image: url(../images/bg_promotion_closed.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: left; }
  body.promotion .closed-event .slide-body .logo {
    display: block;
    margin: 0 auto;
    width: 44.6666666667px;
    height: 45.6666666667px; }
    body.promotion .closed-event .slide-body .logo img {
      display: block;
      width: 100%;
      height: 100%; }
  body.promotion .closed-event .slide-body h4 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold; }
    body.promotion .closed-event .slide-body h4 small {
      display: flex;
      margin-bottom: 25px;
      align-items: flex-end;
      font-size: 15px;
      font-weight: bold; }
      body.promotion .closed-event .slide-body h4 small span {
        margin-left: 10px;
        height: 1px;
        width: 30px;
        background: #464953; }
  body.promotion .closed-event .slide-body p {
    font-size: 13px;
    line-height: 24px; }

body.error #header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center; }
  body.error #header .logo {
    display: block;
    margin: 0 auto;
    width: 44.6666666667px;
    height: 45.6666666667px; }
    body.error #header .logo img {
      display: block;
      width: 100%;
      height: 100%; }
body.error #content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%; }
  body.error #content img {
    display: block;
    width: 100px; }
  body.error #content h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 60px;
    font-weight: bold; }
  body.error #content strong {
    font-size: 23.3333333333px; }
  body.error #content p {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 14.6666666667px;
    line-height: 23.3333333333px;
    text-align: center; }
    body.error #content p a {
      color: #464953;
      text-decoration: none; }
  body.error #content a.main {
    display: block;
    width: 114px;
    height: 43px;
    border: 1px solid #464953;
    border-radius: 3px;
    line-height: 41px;
    text-align: center;
    font-size: 14.6666666667px;
    color: #464953;
    letter-spacing: 0; }

/*# sourceMappingURL=style.css.map */
