$primary: "#464953";

html {
    margin: 0 auto;
    min-width: 360px;
    max-width: 1080px;
    height: 100%;
    &.loading {
        overflow: hidden;
    }
}

body {
    margin: 0 auto;
    min-width: 360px;
    max-width: 1080px;
    height: 100%;
    font-family: 'Noto Sans KR', 'Montserrat', sans-serif;
    font-size: 12px;
    letter-spacing: -1px;
    color: #464953;
    font-weight: 400;
    &.loading {
        overflow: hidden;
    }
}

label {
    margin-bottom: 0;
}

.btn, .form-control {
    -webkit-appearance: none;
    box-shadow: none !important;
}

.modal-backdrop.show {
    opacity: .75;
}

.mont {
    font-family: 'Montserrat', sans-serif;
}

#container {
    position: relative;
    overflow: auto;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1080px;
}

#loading {
    z-index: 9990;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    text-align: center;
    p {
        margin: 0;
    }
}

noscript {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    p {
        margin: 0;
    }
}

body.scrolled {
    #toolbar {
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    }
}

.checkbox-block {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon {
        width: 24.6666666667px;
        height: 24.6666666667px;
        background-image: url(../images/ico_check.png);
        background-size: auto 100%;
        background-position: 0 50%;
    }
    input[type="checkbox"] {
        position: absolute;
        clip: rect(0, 0, 0, 0);
        &:checked + .icon {
            background-position: -24.6666666667px 50%;
        }
    }
}

body.join {
    #header {
        position: -webkit-sticky;
        position: sticky;
        top: -56px;
        display: flex;
        width: 100%;
        height: 56px;
        justify-content: center;
        align-items: center;
        background-image: url(../images/bg_header.jpg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        background-color: #fff;
        border-bottom: 1px solid #f7f7f7;
        h1 {
            margin-bottom: 0;
            img {
                display: block;
                width: 44.6666666667px;
                height: 45.6666666667px;
            }
        }
    }
    #toolbar {
        z-index: 1;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        width: 100%;
        height: 56px;
        border-bottom: 1px solid #ebebeb;
        background-color: #fff;
        .home {
            display: inline-block;
            margin-left: -10px;
            padding: 10px;
            img {
                display: block;
                width: 15.6666666667px;
            }
        }
        h2 {
            margin-bottom: 0;
            font-size: 14px;
            text-align: center;
        }
    }
    #content {
        padding-top: 24px;
        padding-bottom: 21.3333333333px;
        h4 {
            margin-bottom: 18px;
                font-size: 16px;
            font-weight: 900;
            letter-spacing: -1px;
        }
        .form-area {
            h5 {
                font-size: 12px;
                color: #7e828e;
            }
            .form-group {
                margin-bottom: 1.4rem;
            }
            .mobile {
                label {
                    margin-bottom: 13px;
                    color: #7e828e;
                }
                .form-control {
                    padding: 0 18px;
                    height: 38px;
                    border: 1px solid #e1e1e1;
                    font-size: 13px;
                    border-radius: 19px;
                    background: #f6f6f6;
                    line-height: 34px;
                    &:focus {
                        border-color: #464953;
                        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1) !important;
                    }
                    &:valid {
                        background: #fff;
                    }
                }
                ::placeholder {
                  color: #a3a5ad;
                }
                ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                  color: #a3a5ad;
                }
                ::-moz-placeholder { /* Firefox 19+ */
                  color: #a3a5ad;
                }
                :-ms-input-placeholder { /* IE 10+ */
                  color: #a3a5ad;
                }
                :-moz-placeholder { /* Firefox 18- */
                  color: #a3a5ad;
                }
            }
            .terms {
                label {
                    font-size: 13px;
                }
                .card {
                    overflow: hidden;
                    border-color: #e1e1e1;
                }
                .card + .card {
                    margin-top: -1px;
                }
                .card:first-child {
                    border-top-left-radius: 7px;
                    border-top-right-radius: 7px;
                }
                .card:last-child {
                    border-bottom-left-radius: 7px;
                    border-bottom-right-radius: 7px;
                }
                .card-header {
                    padding: 0;
                    border-bottom: 0;
                    .checkbox-block {
                        padding-left: 18px;
                        padding-right: 12px;
                        height: 40px;
                    }
                    .collapsed {
                        background: #fff;
                    }
                }
                .card-body {
                    overflow: auto;
                    padding: 14px 18px;
                    border-top: 1px solid #e1e1e1;
                    max-height: 130px;
                    ol, ul {
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        font-size: 11px;
                        line-height: 17px;
                        color: #7e828e;
                    }
                }
            }
            .agree {
                .checkbox-block {
                    padding-right: 13px;
                    font-weight: bold;
                    .icon {
                        background-size: auto 100%;
                        background-position: -49.3333333334px 50%;
                    }
                    input[type="checkbox"] {
                        clip: rect(0, 0, 0, 0);
                        &:checked + .icon {
                            background-position: -74.0000000001px 50%;
                        }
                    }
                }
            }

        }
        .btn-area {
            padding: 20px 15px;
            background-color: #fff;
            .btn {
                height: 54.6666666667px;
                border-radius: 27.3333333333px;
                font-size: 13.3333333333px;
                background: #2e3446;
                color: #fff;
            }
        }
    }
}

.modal-alert {
    .modal-dialog {
        margin: 0;
        width: 100%;
        height: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .modal-content {
        overflow: hidden;
        border: 0;
        border-radius: 7px;
        background: transparent;
    }
    .modal-body {
        padding: 0;
    }
    .modal-footer {
        overflow: hidden;
        padding: 0;
        border: 0;
        .btn {
            border-radius: 0;
            height: 43.3333333333px;
            font-size: 13px;
            border: 0;
        }
    }
}

#apply.modal-alert {
    .modal-content {
        width: 272px;
    }
    .modal-body {
        .request {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 198px;
            img {
                width: 40px;
                height: 40px;
                box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.16);
                border-radius: 12px;
            }
            p {
                display: flex;
                align-items: center;
                font-size: 14px;
                margin-top: 10px;
                margin-bottom: 10px;
                strong {
                    padding-left: 10px;
                    font-size: 26.6666666667px;
                }
            }
            .btn {
                width: 130px;
                height: 38px;
                border-radius: 19px;
                font-size: 13px;
            }
            .mont {
                font-weight: bold;
            }
        }
        .kakao {
            background: #f9e000;
            .btn {
                background: #2e3446;
                color: #d4d4d4;
            }
        }
        .mms {
            background: #2e3446;
            p {
                color: #fff;
            }
            .btn {
                background: #f9e000;
            }
        }
    }
    .modal-footer {
        padding: 0;
        .btn {
            background: #fff;
        }
    }
}

#message.modal-alert {
    .modal-content {
        width: 272px;
    }
    .modal-body {
        .text {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 130px;
            background: #fff;
            p {
                margin: 0;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                & + p {
                    margin-top: 10px;
                }
            }
        }
    }
    .modal-footer {
        .btn {
            background: #2e3446;
            color: #fff;
        }
    }
}

body.home {
    #container {
//        position: absolute;
//        top: 0;
//        left: 0;
//        width: 100%;
//        height: 100%;
//        clip: rect(10%, 10%, 90%, 90%);
        // clip: rect(0px, 60px, 200px, 0px);
    }
    #header {
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        .logo {
            position: absolute;
            top: 20px;
            left: 23px;
            margin-bottom: 0;
            img {
                display: block;
                width: 44.6666666667px;
                height: 45.6666666667px;
            }
        }
        .btn-nav {
            position: absolute;
            top: 30.3333333333px;
            right: 18px;
            width: 43px;
            height: 36px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
            padding: 10px;
            border: 0;
            border-radius: 0;
            .line {
                display: flex;
                justify-content: center;
                span {
                    height: 2px;
                    border-radius: 1px;
                    background: #2a2a2a;
                }
            }
            .bar {
                display: block;
                width: 100%;
                height: 2px;
            }
            .dot {
                margin-left: 1px;
                width: 2px;
                height: 2px;
            }
        }
    }
    #content {
        width: 100%;
        height: 100%;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .content {
        padding: 140px 23px 0;
        .keyword {
            margin-bottom: 10px;
            font-size: 14px;
            border-bottom: 1px solid #2b2d30;
            line-height: 22px;
        }
        .phrase {
            margin-bottom: 20px;
            font-size: 30px;
            font-weight: bold;
        }
        .more {
            margin-bottom: 85px;
            padding-right: 13px;
            font-size: 13px;
            line-height: 22px;
            background-image: url(../images/ico_arrow_right.png);
            background-position: 100% 50%;
            background-size: 5px 8px;
            background-repeat: no-repeat;
            color: #2b2d30;
            font-weight: bold;
        }
        .fab {
            width: 86.6666666667px;
            height: 86.6666666667px;
            border-radius: 50%;
            box-shadow: 5px 5px 17.28px 0.72px rgba(0, 0, 0, 0.16);
            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
    .slide-1 {
        background-image: url(../images/bg_home_slide_1.jpg);
        background-size: cover;
        background-position: 50% 50%;
        .content {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }
    
}

#coupon.modal {
    overflow: hidden;
    margin: 0 auto;
    max-width: 1080px;
    min-width: 360px;
    &.show {
        .modal-dialog {
            transform: translate(0, 0);
            //transition: transform .3s;
        }
    }
    &.open-info {
        .modal-dialog {
            height: 555px;
        }
        .modal-body {
            padding-top: 0;
        }
        .product {
            display: none;
        }
        .more {
            img {
                transform: rotate(180deg);
            }
        }
        .information {
            height: 509px;
        }
    }
    .modal-dialog {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 460px;
        max-width: 1080px;
        margin: 0;
        transform: translate(0, 150%);
        max-width: none;
        background: #fff;
        transition: all .3s;
    }
    .modal-content {
        border-radius: 0;
        border: 0;
        box-shadow: none;
    }
    .modal-body {
        padding: 80px 0 0;
    }
    .btn-close {
        position: absolute;
        top: 29px;
        right: 21px;
        padding: 10px;
        border: 0;
        width: 36.3333333333px;
        height: 36.3333333333px;
        img {
            display: block;
            width: 16.3333333333px;
            height: 16.3333333333px;
        }
    }
    .product {
        padding-left: 38px;
        padding-right: 38px;
        .thumb {
            position: absolute;
            top: -90px;
            left: 25px;
            width: 85.3333333333px;
            height: 149.666666667px;
            transition: opacity .3s;
        }
        h1 {
            margin-bottom: 10px;
            font-size: 23px;
            color: $primary;
            font-weight: bold;
        }
        p {
            margin-bottom: 15px;
            color: #a3a5ad;
            line-height: 18px;
        }
        .price {
            p {
                margin-bottom: 0;
                & + p {
                    margin-top: 5px;
                }
            }
            .normal {
                position: relative;
                width: 77px;
                font-size: 17px;
                font-weight: normal;
                &:after {
                    content: " ";
                    position: absolute;
                    top: calc(50% - 1px);
                    left: 0;
                    width: 100%;
                    height: 2px;
                    border-radius: 1px;
                    background: #3b4155;
                }
            }
            .discount {
                padding-left: 23px;
                color: #f91f41;
                font-size: 22px;
                font-weight: bold;
                background-image: url(../images/ico_won.png);
                background-repeat: no-repeat;
                background-size: 18px auto;
                background-position: 0 50%;
            }
        }
        .deadline {
            position: absolute;
            top: -51px;
            right: 29px;
            width: 103px;
            height: 103px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url(../images/img_badge.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-repeat: 50% 50%;
            transition: opacity .3s;
            p {
                margin-top: 10px;
                margin-bottom: 0;
                text-align: center;
                font-size: 14px;
                color: #fff;
            }
        }
    }
    .more {

        height: 46px;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
        img {
            width: 23.6666666667px;
            height: 13.3333333333px;
            transition: transform .3s;
        }
    }
    .information {
        overflow: hidden;
        border-top: 1px dashed #d2d2d2;
        height: calc(207px + 1px);
        .barcode {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 40px;
            padding-right: 40px;
            height: 207px;
            background: #f8f8f8;
            p {
                margin-bottom: 0;
                & + p {
                    margin-top: 10px;
                }
            }
            .number {
                font-size: 13px;
                font-weight: bold;
                color: #444;
                letter-spacing: 1px;
            }
            .image {
                img {
                    display: block;
                    margin: 0 auto;
                    height: 90px;
                }
            }
            .help {
                font-size: 11px;
                line-height: 18px;
                color: #a3a5ad;
            }
        }
        .details {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 35px;
            padding-right: 35px;
            height: 302px;
            overflow: auto;
            font-size: 13px;
            line-height: 23px;
            > div {
                padding-top: 15px;
                padding-bottom: 15px;
                & + div {
                    border-top: 1px solid #ddd;
                }
            }
            h4 {
                margin-bottom: 5px;
                font-size: 14px;
                font-weight: bold;
            }
            h5 {
                margin-bottom: 5px;
                font-size: 12px;
                font-weight: bold;
            }
            p {
                margin-bottom: 0;
            }
            dl {
                display: flex;
                margin-bottom: 0;
                dt {
                    margin-right: 3px;
                    font-weight: normal;
                    &:after {
                        content: " : ";
                    }
                }
                dd {
                    margin-bottom: 0;
                }
                .spacer {
                    flex: 1;
                }
                a {
                    font-weight: bold;
                    text-decoration: none;
                    color: #464953;
                    padding-right: 13px;
                    background-image: url(../images/ico_arrow_right.png);
                    background-position: 100% 50%;
                    background-size: 5px 8px;
                    background-repeat: no-repeat;
                }
                strong {
                    color: #c80e29;
                    font-weight: bold;
                }
            }
        }
    }
}

body.promotion {
    
    #container {
    }
    
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        position: relative;
        text-align: center;
//        .content {
//            overflow: auto;
//            position: absolute;
//            top: 0;
//            left: 0;
//            display: flex;
//            width: 100%;
//            height: 100%;
//            flex-direction: column;
//            justify-content: center;
//            align-items: center;
//        }
    }
}