$primary: "#464953";

@keyframes roll {
//    0% {
//        z-index: 0;
//        opacity: 0;
//        background-position: 40% 0%;
//    }
//    1% {
//        z-index: 1;
//        opacity: 0;
//        background-position: 40% 0%;
//    }
//    10% {
//        z-index: 1;
//        opacity: 1;
//        background-position: 40% 0%;
//    }
//    90% {
//        z-index: 1;
//        opacity: 1;
//        background-position: 20% 0%;
//    }
//    99% {
//        z-index: 1;
//        opacity: 0;
//        background-position: 20% 0%;
//    }
//    100% {
//        z-index: 0;
//        opacity: 0;
//        background-position: 20% 0%;
//    }
    0% {
        z-index: 0;
        opacity: 0;
        background-position: 40% 0%;
    }
    5% {
        z-index: 1;
        opacity: 0;
        background-position: 40% 0%;
    }
    10% {
        z-index: 1;
        opacity: 1;
        background-position: 40% 0%;
    }
    50% {
        z-index: 1;
        opacity: 1;
        background-position: 20% 0%;
    }
    55% {
        z-index: 1;
        opacity: 0;
        background-position: 20% 0%;
    }
    60% {
        z-index: 0;
        opacity: 0;
        background-position: 20% 0%;
    }
    100% {
        z-index: 0;
        opacity: 0;
        background-position: 20% 0%;
    }
}

@keyframes fly {
    0% {
        transform: translate(0, 0rem)
    }
    25% {
        transform: translate(0, -.1rem)
    }
    50% {
        transform: translate(0, 0rem)
    }
    75% {
        transform: translate(0, .1rem)
    }
    100% {
        transform: translate(0, 0rem)
    }
}

@keyframes fly2 {
    0% {
        transform: translate(0, 0rem)
    }
    25% {
        transform: translate(0, -.2rem)
    }
    50% {
        transform: translate(0, 0rem)
    }
    75% {
        transform: translate(0, .2rem)
    }
    100% {
        transform: translate(0, 0rem)
    }
}

@keyframes timeBlink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    //50% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes moveHand {
    @for $i from 0 through 20 {
        #{$i*5}% {
            transform: rotate(18deg * $i);
        }
    }
}

@keyframes hideAndSeek {
    0% {
        transform: translate(0, 10px);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, 10px);
    }
}

@keyframes shake {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(2px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

html {
    margin: 0 auto;
    min-width: 360px;
    max-width: 1080px;
    height: 100%;
    &.loading {
        overflow: hidden;
    }
}

body {
    margin: 0 auto;
    min-width: 360px;
    max-width: 1080px;
    height: 100%;
    font-family: 'Noto Sans KR', 'Montserrat', sans-serif;
    font-size: 12px;
    letter-spacing: -1px;
    color: #464953;
    font-weight: 400;
    &.loading {
        overflow: hidden;
    }
}

label {
    margin-bottom: 0;
}

.btn, .form-control {
    -webkit-appearance: none;
    box-shadow: none !important;
}

.modal-backdrop.show {
    opacity: .75;
}

.mont {
    font-family: 'Montserrat', sans-serif;
}

#container {
    position: relative;
    overflow: auto;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1080px;
}

#loading {
    z-index: 9990;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    text-align: center;
    p {
        margin: 0;
        img {
            width: 44.6666666667px;
        }
    }
}

@keyframes intro {
    0% {
        background-position: 0 0;
        opacity: 1;
    }
    66% {
        opacity: 1;
    }
    100% {
        background-position: 100% 100%;
        opacity: 0;
        transform: translate(-100%, 0);
    }
}

//#intro {
//    z-index: 9980;
//    position: fixed;
//    top: 0;
//    left: 0;
//    width: 100%;
//    height: 100%;
//    display: flex;
//    justify-content: flex-end;
//    align-items: center;
//    background-image: url(../images/bg_intro_1.jpg);
//    background-size: 120% 120%;
//    background-repeat: no-repeat;
//    animation: intro 3s;
//    p {
//        padding-left: 25px;
//        padding-right: 25px;
//        font-size: 26.6666666667px;
//        line-height: 35px;
//        font-weight: bold;
//        text-align: right;
//    }
//}

noscript {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    p {
        margin: 0;
    }
}

body.scrolled {
    #toolbar {
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    }
}

.checkbox-block {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon {
        width: 24.6666666667px;
        height: 24.6666666667px;
        background-image: url(../images/ico_check.png);
        background-size: auto 100%;
        background-position: 0 50%;
    }
    input[type="checkbox"] {
        position: absolute;
        clip: rect(0, 0, 0, 0);
        &:checked + .icon {
            background-position: -24.6666666667px 50%;
        }
    }
}

body.join {
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    #header {
        position: -webkit-sticky;
        position: sticky;
        top: -56px;
        display: flex;
        width: 100%;
        height: 56px;
        justify-content: center;
        align-items: center;
        background-image: url(../images/bg_header.jpg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        background-color: #fff;
        border-bottom: 1px solid #f7f7f7;
        h1 {
            margin-bottom: 0;
            img {
                display: block;
                width: 44.6666666667px;
                height: 45.6666666667px;
            }
        }
    }
    #toolbar {
        z-index: 1;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        width: 100%;
        height: 56px;
        border-bottom: 1px solid #ebebeb;
        background-color: #fff;
        .home {
            display: inline-block;
            margin-left: -10px;
            padding: 10px;
            img {
                display: block;
                width: 15.6666666667px;
            }
        }
        h2 {
            margin-bottom: 0;
            font-size: 14px;
            text-align: center;
        }
    }
    #content {
        padding-top: 24px;
        padding-bottom: 21.3333333333px;
        h4 {
            margin-bottom: 18px;
                font-size: 16px;
            font-weight: 900;
            letter-spacing: -1px;
        }
        .form-area {
            h5 {
                font-size: 12px;
                color: #7e828e;
            }
            .form-group {
                margin-bottom: 1.4rem;
            }
            .mobile {
                label {
                    margin-bottom: 13px;
                    color: #7e828e;
                }
                .form-control {
                    padding: 0 18px;
                    height: 38px;
                    border: 1px solid #e1e1e1;
                    font-size: 13px;
                    border-radius: 19px;
                    background: #f6f6f6;
                    line-height: 34px;
                    &:focus {
                        border-color: #464953;
                        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1) !important;
                    }
                    &:valid {
                        background: #fff;
                    }
                }
                ::placeholder {
                  color: #a3a5ad;
                }
                ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                  color: #a3a5ad;
                }
                ::-moz-placeholder { /* Firefox 19+ */
                  color: #a3a5ad;
                }
                :-ms-input-placeholder { /* IE 10+ */
                  color: #a3a5ad;
                }
                :-moz-placeholder { /* Firefox 18- */
                  color: #a3a5ad;
                }
            }
            .terms {
                label {
                    font-size: 13px;
                }
                .card {
                    overflow: hidden;
                    border-color: #e1e1e1;
                }
                .card + .card {
                    margin-top: -1px;
                }
                .card:first-child {
                    border-top-left-radius: 7px;
                    border-top-right-radius: 7px;
                }
                .card:last-child {
                    border-bottom-left-radius: 7px;
                    border-bottom-right-radius: 7px;
                }
                .card-header {
                    padding: 0;
                    border-bottom: 0;
                    .checkbox-block {
                        padding-left: 18px;
                        padding-right: 12px;
                        height: 40px;
                    }
                    .collapsed {
                        background: #fff;
                    }
                }
                .card-body {
                    overflow: auto;
                    padding: 14px 18px;
                    border-top: 1px solid #e1e1e1;
                    max-height: 130px;
                    ol, ul {
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        font-size: 11px;
                        line-height: 17px;
                        color: #7e828e;
                    }
                }
            }
            .agree {
                .checkbox-block {
                    padding-right: 13px;
                    font-weight: bold;
                    .icon {
                        background-size: auto 100%;
                        background-position: -49.3333333334px 50%;
                    }
                    input[type="checkbox"] {
                        clip: rect(0, 0, 0, 0);
                        &:checked + .icon {
                            background-position: -74.0000000001px 50%;
                        }
                    }
                }
            }

        }
        .btn-area {
            padding: 20px 15px;
            background-color: #fff;
            .btn {
                height: 54.6666666667px;
                border-radius: 27.3333333333px;
                font-size: 13.3333333333px;
                background: #2e3446;
                color: #fff;
            }
        }
    }
}

.modal-alert {
    .modal-dialog {
        margin: 0;
        width: 100%;
        height: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .modal-content {
        overflow: hidden;
        border: 0;
        border-radius: 7px;
        background: transparent;
    }
    .modal-body {
        padding: 0;
    }
    .modal-footer {
        overflow: hidden;
        padding: 0;
        border: 0;
        .btn {
            border-radius: 0;
            height: 43.3333333333px;
            font-size: 13px;
            border: 0;
        }
    }
}

#apply.modal-alert {
    .modal-content {
        width: 272px;
    }
    .modal-body {
        .request {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 198px;
            img {
                width: 40px;
                height: 40px;
                box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.16);
                border-radius: 12px;
            }
            p {
                display: flex;
                align-items: center;
                font-size: 14px;
                margin-top: 10px;
                margin-bottom: 10px;
                strong {
                    padding-left: 10px;
                    font-size: 26.6666666667px;
                }
            }
            .btn {
                width: 130px;
                height: 38px;
                border-radius: 19px;
                font-size: 13px;
            }
            .mont {
                font-weight: bold;
            }
        }
        .kakao {
            background: #f9e000;
            .btn {
                background: #2e3446;
                color: #d4d4d4;
            }
        }
        .mms {
            background: #2e3446;
            p {
                color: #fff;
            }
            .btn {
                background: #f9e000;
            }
        }
    }
    .modal-footer {
        padding: 0;
        .btn {
            background: #fff;
        }
    }
}

#message.modal-alert {
    .modal-content {
        width: 272px;
    }
    .modal-body {
        .text {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 130px;
            background: #fff;
            p {
                margin: 0;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                & + p {
                    margin-top: 10px;
                }
            }
        }
    }
    .modal-footer {
        .btn {
            background: #2e3446;
            color: #fff;
        }
    }
}

body.home {
    &.nav-opened {
        #nav {
            opacity: 1;
            .gnb {
                li {
                    opacity: 1;
                    transform: translate(0, 0);
                }
                li:nth-of-type(1) {
                    transition-delay: .5s;
                }
                li:nth-of-type(2) {
                    transition-delay: .65s;
                }
            }
            .sns {
                li {
                    opacity: 1;
                    transform: translate(0, 0);
                }
                li:nth-of-type(1) {
                    transition-delay: .8s;
                }
                li:nth-of-type(2) {
                    transition-delay: .95s;
                }
            }
        }
    }
    #container {
        z-index: 10;
        position: absolute;
        //top: 0;
        //left: 50%;
        transition: clip .5s;
        will-change: clip;

//        position: absolute;
//        top: 0;
//        left: 0;
//        width: 100%;
//        height: 100%;
//        clip: rect(10%, 10%, 90%, 90%);
        //clip: -webkit-rect(10px, 10px, 200px, 10px);
        //clip: rect(0px, 100px, 113px, 0px);
    }
    #content {
    }
    #header {
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        .logo {
            position: absolute;
            top: 20px;
            left: 23px;
            margin-bottom: 0;
            transform: translate(0, 0);
            transition: transform .3s .5s;
            img {
                display: block;
                width: 44.6666666667px;
                height: 45.6666666667px;
            }
        }
        .btn-nav {
            position: absolute;
            top: 30.3333333333px;
            right: 18px;
            width: 43px;
            height: 36px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
            padding: 10px;
            border: 0;
            border-radius: 0;
            transform: translate(0, 0);
            transition: transform .3s .5s;
            .line {
                display: flex;
                justify-content: center;
                span {
                    height: 2px;
                    border-radius: 1px;
                    background: #2a2a2a;
                }
            }
            .bar {
                display: block;
                width: 100%;
                height: 2px;
            }
            .dot {
                margin-left: 1px;
                width: 2px;
                height: 2px;
            }
        }
    }
    &.loading {
        #header {
            .logo {
                transform: translate(0, -100px);
            }
            .btn-nav {
                transform: translate(0, -100px);
            }
        }
    }
    #nav {
        opacity: 0;
        z-index: 10;
        //z-index: 11;
        position: fixed;
//         top: 0;
//         left: 0;
        width: 100%;
        height: 100%;
        background: rgba(#fff, .9);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        max-width: 1080px;
        margin: 0 auto;
        .logo {
            position: absolute;
            top: 20px;
            left: 23px;
            margin-bottom: 0;
            img {
                display: block;
                width: 44.6666666667px;
                height: 45.6666666667px;
            }
        }
        .btn-close {
            position: absolute;
            top: 29px;
            right: 21px;
            padding: 10px;
            border: 0;
            width: 36.3333333333px;
            height: 36.3333333333px;
            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        ul {
            margin-bottom: 0;
            padding-right: 30px;
            list-style: none;
            text-align: right;
            a {
                color: #2b2d30;
                font-weight: bold;
            }
        }
        .gnb {
            margin-bottom: 10px;
            a {
                font-size: 26.6666666667px;
                line-height: 43px;
                text-decoration: none;
            }
            li {
                opacity: 0;
                transform: translate(0, -10px);
                transition: all .3s;
            }
            
        }
        .sns {
            a {
                padding-left: 15px;
                font-size: 16.6666666667px;
                line-height: 32px;
                letter-spacing: 0;
                text-decoration: none;
                background-image: url(../images/ico_dot.png);
                background-repeat: no-repeat;
                background-size: 4px 4px;
                background-position: 0 50%;
            }
            li {
                opacity: 0;
                transform: translate(0, -10px);
                transition: all .3s;
            }
            
        }
    }
    #content {
        width: 100%;
        height: 100%;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        overflow: hidden;
    }
    .swiper-pagination {
        position: absolute;
        top: 92px;
        right: 24px;
        left: auto;
        bottom: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 3px;
        width: 50px;
        height: 18px;
        line-height: 18px;
        background: rgba(#000, .3);
        color: rgba(#fff, .3);
        font-size: 9px;
        border-radius: 9px;
        span {
            font-size: 13px;
        }
        .swiper-pagination-current {
            color: #fff;
        }
    }
    .content {
        position: relative;
        z-index: 1;
        padding: 140px 23px 0;
//        display: flex;
//        flex-direction: column;
//        align-items: flex-end;
        .keywords {
            position: relative;
            display: flex;
            justify-content: flex-end;
            //margin-bottom: 10px;
            width: 100%;
            height: 22px;
            //border: 1px solid black;
            p {
                position: absolute;
                margin-bottom: 0;
                font-size: 14px;
                line-height: 22px;
                //clip: rect(0, 0, 22px, 0);
                transform: translate(0, -10px);
                opacity: 0;
                &:after {
                    content: " ";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 1px;
                    //width: 100%;
                    width: 0;
                    background: #2b2d30;
                }
            }
        }
        .phrase {
            position: absolute;
            top: 172px;
            right: 23px;
            //margin-bottom: 20px;
            height: 45px;
            font-size: 30px;
            font-weight: bold;
            //clip: rect(0, 0, 45px, 0);
            transform: translate(0, -10px);
            opacity: 0;
        }
        .more {
            position: absolute;
            top: 237px;
            right: 23px;
            //margin-bottom: 85px;
            //padding-right: 13px;
            font-size: 13px;
            line-height: 22px;
//            background-image: url(../images/ico_arrow_right.png);
//            background-position: 100% 50%;
//            background-size: 5px 8px;
//            background-repeat: no-repeat;
            color: #2b2d30;
            font-weight: bold;
            //clip: rect(0, 0, 22px, 0);
            transform: translate(0, -10px);
            opacity: 0;
            text-decoration: none;
            display: flex;
            align-items: center;
            img {
                margin-left: 5px;
                width: 5px;
                height: 8px;
                transform: translate(0, 0);
                animation: shake .5s infinite;
            }
        }
        .fab {
            position: absolute;
            top: 345px;
            right: 23px;
            width: 86.6666666667px;
            height: 86.6666666667px;
            border-radius: 50%;
            box-shadow: 5px 5px 17.28px 0.72px rgba(0, 0, 0, 0.16);
            animation: fly 1s infinite linear;
            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
    .slide-1 {
        .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            .bg-item {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-size: auto 100%;
                background-position: 40% 0%;
            }
            .bg-item-2 {
                background-image: url(../images/bg_slide1_1.jpg);
                animation: roll 20s infinite;
            }
            .bg-item-1 {
                background-image: url(../images/bg_slide1_3.jpg);
                animation: roll 20s infinite;
                animation-delay: 10s;
            }
        }
        .content {
            .keywords {
                p {
                    right: 0;
                }
            }
        }
        &.swiper-slide-active {
            .content {
                .keywords {
                    p {
                        //clip: rect(0, 85px, 22px, 0);
                        transform: translate(0, 0);
                        opacity: 1;
                        transition: all .3s .85s;
                        &:after {
                            width: 100%;
                            transition: all .75s 1.45s;
                        }
                    }
                }
                .phrase {
                    //clip: rect(0, 220px, 45px, 0);
                    transform: translate(0, 0);
                    opacity: 1;
                    transition: all .3s 1s;
                }
                .more {
                    //clip: rect(0, 70px, 22px, 0);
                    transform: translate(0, 0);
                    opacity: 1;
                    transition: all .3s 1.15s;
                }
            }
        }
    }
    .slide-2 {
        background-image: url(../images/bg_home_slide_2.jpg);
        background-size: cover;
        .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            .bg-item {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: 100% 100%;
            }
            .bg-item-cloud {
                width: 200%;
                height: 100%;
                background-size: 100% auto;
                background-position: 50% 25%;
                background-image: url(../images/cloud.png);
                background-repeat: no-repeat;
                transform: translate(0, 0);
                opacity: .5;
            }
            .bg-item-sign {
                background-image: url(../images/img_slide2_sign.png);
                transform: translate(10%, 0);
                opacity: 0;
                transition: all .5s .5s;
            }
            .bg-item-store {
                background-image: url(../images/img_slide2_store.png);
                transform: translate(-10%, 0);
                opacity: 0;
                transition: all .5s .25s;
            }
            .bg-item-stone {
                background-image: url(../images/img_slide2_stone.png);
                transform: translate(0, 10%);
                opacity: 0;
                transition: all .5s;
            }
        }
        .content {
            .keywords {
                p:nth-of-type(1) {
                    right: 80px;
                }
                p:nth-of-type(2) {
                    right: 0;
                }
            }
        }
        &.swiper-slide-active {
            .bg {
                .bg-item-cloud {
                    transform: translate(-50%, 0);
                    transition: all 30s;
                }
                .bg-item-sign {
                    opacity: 1;
                    transform: translate(0, 0);
                }
                .bg-item-store {
                    opacity: 1;
                    transform: translate(0, 0);
                }
                .bg-item-stone {
                    opacity: 1;
                    transform: translate(0, 0);
                }
            }
            .content {
                .keywords {
                    p:nth-of-type(1) {
                        //clip: rect(0, 85px, 22px, 0);
                        transition: all .3s .85s;
                        transform: translate(0, 0);
                        opacity: 1;
                        &:after {
                            width: 100%;
                            transition: all .75s 1.6s;
                        }
                    }
                    p:nth-of-type(2) {
                        //clip: rect(0, 85px, 22px, 0);
                        transition: all .3s 1s;
                        transform: translate(0, 0);
                        opacity: 1;
                        &:after {
                            width: 100%;
                            transition: all .75s 2.5s;
                        }
                    }
                }
                .phrase {
                    //clip: rect(0, 220px, 45px, 0);
                    transition: all .3s 1.15s;
                    transform: translate(0, 0);
                    opacity: 1;
                }
                .more {
                    //clip: rect(0, 70px, 22px, 0);
                    transition: all .3s 1.3s;
                    transform: translate(0, 0);
                    opacity: 1;
                }
            }
        }
    }
}

#coupon.modal {
    overflow: hidden;
    margin: 0 auto;
    max-width: 1080px;
    min-width: 360px;
    &.show {
        .modal-dialog {
            transform: translate(0, 0);
        }
    }
    &.open-info {
        .btn-close {
            display: none;
        }
        .modal-dialog {
            height: 100%;
        }
        .product {
            display: none;
        }
        .more {
            img {
                transform: rotate(180deg);
            }
        }
        .details {
            display: block;
        }
    }
    .modal-dialog {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        max-width: 1080px;
        margin: 0;
        transform: translate(0, 150%);
        max-width: none;
        background: #fff;
        transition: all .3s;
        .modal-content {
            border-radius: 0;
            border: 0;
            box-shadow: none;
            height: 100%;
            .modal-body {
                padding: 80px 0 0;
                padding: 0;
                height: 100%;
                display: flex;
                flex-direction: column;
            }
        }
    }
    .btn-close {
        position: absolute;
        top: 29px;
        right: 21px;
        padding: 10px;
        border: 0;
        width: 36.3333333333px;
        height: 36.3333333333px;
        img {
            display: block;
            width: 16.3333333333px;
            height: 16.3333333333px;
        }
    }
    .product {
        padding-top: 80px;
        padding-left: 38px;
        padding-right: 38px;
        .thumb {
            position: absolute;
            top: -90px;
            left: 25px;
            width: 85.3333333333px;
            height: 149.666666667px;
            transition: opacity .3s;
        }
        h1 {
            margin-bottom: 10px;
            font-size: 23px;
            color: $primary;
            font-weight: bold;
        }
        p {
            margin-bottom: 15px;
            color: #a3a5ad;
            line-height: 18px;
        }
        .price {
            p {
                margin-bottom: 0;
                & + p {
                    margin-top: 5px;
                }
            }
            .normal {
                position: relative;
                width: 77px;
                font-size: 17px;
                font-weight: normal;
                &:after {
                    content: " ";
                    position: absolute;
                    top: calc(50% - 1px);
                    left: 0;
                    width: 100%;
                    height: 2px;
                    border-radius: 1px;
                    background: #3b4155;
                }
            }
            .discount {
                padding-left: 23px;
                color: #f91f41;
                font-size: 22px;
                font-weight: bold;
                background-image: url(../images/ico_won.png);
                background-repeat: no-repeat;
                background-size: 18px auto;
                background-position: 0 50%;
            }
        }
        .deadline {
            position: absolute;
            top: -51px;
            right: 29px;
            width: 103px;
            height: 103px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url(../images/img_badge.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-repeat: 50% 50%;
            transition: opacity .3s;
            p {
                margin-top: 10px;
                margin-bottom: 0;
                text-align: center;
                font-size: 14px;
                color: #fff;
            }
        }
    }
    .more {

        height: 46px;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
        img {
            width: 23.6666666667px;
            height: 13.3333333333px;
            transition: transform .3s;
        }
    }
    .barcode {
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 40px;
        padding-right: 40px;
        background: #f8f8f8;
        border-top: 1px dashed #d2d2d2;
        p {
            margin-bottom: 0;
            & + p {
                margin-top: 10px;
            }
        }
        .number {
            font-size: 13px;
            color: #444;
            letter-spacing: 1px;
        }
        .image {
            img {
                display: block;
                margin: 0 auto;
                height: 90px;
            }
        }
        .help {
            font-size: 11px;
            line-height: 18px;
            color: #a3a5ad;
        }
        .state {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding-left: 40px;
            padding-right: 40px;
            background: rgba(#000, .8);
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                width: 25%;
                height: 1px;
                background: #f91f41;
            }
            p {
                color: #fff;
                text-align: center;
            }
        }
    }
    .details {
        overflow: auto;
        display: none;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 35px;
        padding-right: 35px;
        font-size: 13px;
        line-height: 23px;
        -webkit-overflow-scrolling: touch;
        overflow-scrolling: touch;
        > div {
            padding-top: 15px;
            padding-bottom: 15px;
            & + div {
                border-top: 1px solid #ddd;
            }
        }
        h4 {
            margin-bottom: 5px;
            font-size: 14px;
            font-weight: bold;
        }
        h5 {
            margin-bottom: 5px;
            font-size: 12px;
            font-weight: bold;
        }
        p {
            margin-bottom: 0;
        }
        dl {
            display: flex;
            margin-bottom: 0;
            dt {
                margin-right: 3px;
                font-weight: normal;
                &:after {
                    content: " : ";
                }
            }
            dd {
                margin-bottom: 0;
            }
            .spacer {
                flex: 1;
            }
            a {
                font-weight: bold;
                text-decoration: none;
                color: #464953;
                padding-right: 13px;
                background-image: url(../images/ico_arrow_right.png);
                background-position: 100% 50%;
                background-size: 5px 8px;
                background-repeat: no-repeat;
            }
            strong {
                color: #c80e29;
                font-weight: bold;
            }
        }
    }
}

#story.modal {
    overflow: hidden;
    margin: 0 auto;
    max-width: 1080px;
    min-width: 360px;
    &.show {
        .modal-dialog {
            transform: translate(0, 0);
            transition: transform .3s;
        }
    }
    .modal-dialog {
        margin: 0;
        max-width: 100%;
        width: 100%;
        height: 100%;
        transform: translate(-100%, 0);
    }
    .modal-content {
        width: 100%;
        height: 100%;
        border-radius: 0;
        border: 0;
    }
    .modal-header {
        z-index: 3;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        padding: 0 19px;
        width: 100%;
        //height: 86.67px;
        height: 86px;
        border-bottom: 0;
        //background: #f1f1f1;
        background: rgba(#fff, .8);
        border-radius: 0;
        transition: all .3s;
        .btn-close {
            padding: 10px;
            border: 0;
            width: 44px;
            img {
                display: block;
                width: 100%;
            }
        }
    }
    &.scrolled {
        .modal-header {
            height: 45px;
            border-bottom: 1px solid #f3f3f3;
        }
    }
    .modal-body {
        position: relative;
        overflow: auto;
        padding: 86px 0 0;
        width: 100%;
        height: 100%;
        -webkit-overflow-scrolling: touch;
        overflow-scrolling: touch;
        header {
            z-index: 1;
            position: sticky;
            top: 56px;
            padding: 80px 30px 14px 30px;
            h1 {
                display: flex;
                flex-direction: column;
                font-weight: bold;
                font-size: 30px;
                line-height: 43px;
                margin-bottom: 35px;
                p {
                    display: flex;
                    margin-bottom: 0;
                    align-items: center;
                    small {
                        margin-left: 15px;
                        font-size: 13px;
                        font-weight: bold;
                    }
                    &:first-child {
                        small {
                            color: #b7b7b7;
                        }
                    }
                }
            }
            blockquote {
                margin-bottom: 30px;
                font-family: 'Nanum Myeongjo', serif;
                font-style: italic;
                text-align: right;
                font-size: 14px;
                p {
                    margin-bottom: 0;
                    span {
                        border-bottom: 1px solid #2a2b31;
                    }
                }
            }
            .tags {
                display: flex;
                justify-content: flex-end;
                p {
                    margin-bottom: 0;
                    padding-left: 8px;
                    padding-right: 8px;
                    height: 20px;
                    border: 1px solid #f91f41;
                    color: #f91f41;
                    border-radius: 2px;
                    & + p {
                        margin-left: 7px;
                    }
                }
            }
        }
        figure {
            position: relative;
            z-index: 2;
            margin-bottom: 0;
            background: #fff;
            &.dog {
                padding: 100px 120px;
                text-align: center;
                font-size: 13px;
                figcaption {
                    margin-top: 5px;
                }
            }
        }
        section {
            position: relative;
            z-index: 2;
            padding: 40px 35px;
            background: #fff;
            h2 {
                font-size: 20px;
                line-height: 33px;
                font-weight: bold;
            }
            p {
                margin-top: 35px;
                margin-bottom: 0;
                font-size: 15px;
                line-height: 25px;
                & + h2 {
                    margin-top: 35px;
                }
                &:first-child {
                    margin-top: 0;
                }
                strong {
                    font-size: 20px;
                    line-height: 27px;
                }
                .strike {
                    position: relative;
                    &:after {
                        content: " ";
                        position: absolute;
                        top: calc(50% - 2px);
                        left: 0;
                        width: 100%;
                        height: 5px;
                        border-radius: 2px;
                        background: #ffff00;
                        opacity: .5;
                    }
                    &.narrow {
                        &:after {
                            top: 50%;
                            height: 1px;
                            background: #ffff00;
                            border-radius: 0;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    
}

@import 'promotion';

body.error {
    #header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 95px;
        display: flex;
        justify-content: center;
        align-items: center;
        .logo {
            display: block;
            margin: 0 auto;
            width: 44.6666666667px;
            height: 45.6666666667px;
            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
    #content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        img {
            display: block;
            width: 100px;
        }
        h2 {
            margin-top: 30px;
            margin-bottom: 10px;
            font-size: 60px;
            font-weight: bold;
        }
        strong {
            font-size: 23.3333333333px;
        }
        p {
            margin-top: 10px;
            margin-bottom: 30px;
            font-size: 14.6666666667px;
            line-height: 23.3333333333px;
            text-align: center;
            a {
                color: #464953;
                text-decoration: none;
            }
        }
        a.main {
            display: block;
            width: 114px;
            height: 43px;
            border: 1px solid #464953;
            border-radius: 3px;
            line-height: 41px;
            text-align: center;
            font-size: 14.6666666667px;
            color: #464953;
            letter-spacing: 0;
            text-decoration: none;
        }
    }
}