$primary: "#464953";

@keyframes roll {
//    0% {
//        z-index: 0;
//        opacity: 0;
//        background-position: 40% 0%;
//    }
//    1% {
//        z-index: 1;
//        opacity: 0;
//        background-position: 40% 0%;
//    }
//    10% {
//        z-index: 1;
//        opacity: 1;
//        background-position: 40% 0%;
//    }
//    90% {
//        z-index: 1;
//        opacity: 1;
//        background-position: 20% 0%;
//    }
//    99% {
//        z-index: 1;
//        opacity: 0;
//        background-position: 20% 0%;
//    }
//    100% {
//        z-index: 0;
//        opacity: 0;
//        background-position: 20% 0%;
//    }
    0% {
        z-index: 0;
        opacity: 0;
        background-position: 40% 0%;
    }
    5% {
        z-index: 1;
        opacity: 0;
        background-position: 40% 0%;
    }
    10% {
        z-index: 1;
        opacity: 1;
        background-position: 40% 0%;
    }
    50% {
        z-index: 1;
        opacity: 1;
        background-position: 20% 0%;
    }
    55% {
        z-index: 1;
        opacity: 0;
        background-position: 20% 0%;
    }
    60% {
        z-index: 0;
        opacity: 0;
        background-position: 20% 0%;
    }
    100% {
        z-index: 0;
        opacity: 0;
        background-position: 20% 0%;
    }
}

@keyframes fly {
    0% {
        transform: translate(0, 0rem)
    }
    25% {
        transform: translate(0, -.1rem)
    }
    50% {
        transform: translate(0, 0rem)
    }
    75% {
        transform: translate(0, .1rem)
    }
    100% {
        transform: translate(0, 0rem)
    }
}

@keyframes fly2 {
    0% {
        transform: translate(0, 0rem)
    }
    25% {
        transform: translate(0, -.2rem)
    }
    50% {
        transform: translate(0, 0rem)
    }
    75% {
        transform: translate(0, .2rem)
    }
    100% {
        transform: translate(0, 0rem)
    }
}

@keyframes timeBlink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    //50% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes moveHand {
    @for $i from 0 through 20 {
        #{$i*5}% {
            transform: rotate(18deg * $i);
        }
    }
}

@keyframes hideAndSeek {
    0% {
        transform: translate(0, 10px);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, 10px);
    }
}

@keyframes shake {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(2px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

html {
    margin: 0 auto;
//    min-width: 360px;
//    max-width: 1080px;
    width: 100%;
    height: 100%;
    &.loading {
        overflow: hidden;
    }
}

body {
    margin: 0 auto;
//    min-width: 360px;
//    max-width: 1080px;
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans KR', 'Montserrat', sans-serif;
    font-size: 12px;
    letter-spacing: -1px;
    color: #464953;
    font-weight: 400;
    &.loading {
        overflow: hidden;
    }
}

label {
    margin-bottom: 0;
}

.btn, .form-control {
    -webkit-appearance: none;
    box-shadow: none !important;
}

.modal-backdrop.show {
    opacity: .75;
}

.mont {
    font-family: 'Montserrat', sans-serif;
}

#container {
    position: relative;
    overflow: auto;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1080px;
}

#loading {
    z-index: 9990;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    text-align: center;
    p {
        margin: 0;
        img {
            //width: 44.6666666667px;
            width: 60px;
            height: 61px;
        }
    }
}

@keyframes intro {
    0% {
        background-position: 0 0;
        opacity: 1;
    }
    66% {
        opacity: 1;
    }
    100% {
        background-position: 100% 100%;
        opacity: 0;
        transform: translate(-100%, 0);
    }
}

//#intro {
//    z-index: 9980;
//    position: fixed;
//    top: 0;
//    left: 0;
//    width: 100%;
//    height: 100%;
//    display: flex;
//    justify-content: flex-end;
//    align-items: center;
//    background-image: url(../images/bg_intro_1.jpg);
//    background-size: 120% 120%;
//    background-repeat: no-repeat;
//    animation: intro 3s;
//    p {
//        padding-left: 25px;
//        padding-right: 25px;
//        font-size: 26.6666666667px;
//        line-height: 35px;
//        font-weight: bold;
//        text-align: right;
//    }
//}

noscript {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    p {
        margin: 0;
    }
}

body.scrolled {
    #toolbar {
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    }
}

.checkbox-block {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon {
        width: 24.6666666667px;
        height: 24.6666666667px;
        background-image: url(../images/ico_check.png);
        background-size: auto 100%;
        background-position: 0 50%;
    }
    input[type="checkbox"] {
        position: absolute;
        clip: rect(0, 0, 0, 0);
        &:checked + .icon {
            background-position: -24.6666666667px 50%;
        }
    }
}

.modal-alert {
    .modal-dialog {
        margin: 0;
        width: 100%;
        height: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .modal-content {
        overflow: hidden;
        border: 0;
        border-radius: 7px;
        background: transparent;
    }
    .modal-body {
        padding: 0;
    }
    .modal-footer {
        overflow: hidden;
        padding: 0;
        border: 0;
        .btn {
            border-radius: 0;
            height: 43.3333333333px;
            font-size: 13px;
            border: 0;
        }
    }
}

@import 'join';

@import 'home';

@import 'promotion';

@import 'error';